<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light bg-warning" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="navbar-brand" routerLink="/user" routerLinkActive="active"><img src="assets/images/logo.png"
                alt="Home" width="60" height="52"></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form class="input-group">
                    <input type="text" class="form-control search" placeholder="Search" aria-label="Search"
                        (keydown)="search($event)" />
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/cart">
                    <span><i class="fas fa-shopping-cart"></i></span>
                    <span class="badge badge-pill bg-danger" *ngIf="cartItemNo > 0">{{ cartItemNo }}</span>
                </a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect id="userNavDropDown">
                    <mdb-icon fas icon="user"></mdb-icon> {{ userName }}<span class="caret"></span>
                </a>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <li role="menuitem" *ngIf="isGuest">
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/user/login">Log in</a>
                    </li>
                    <li role="menuitem" *ngIf="isGuest">
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/user/register">Sign up</a>
                    </li>
                    <li role="menuitem" *ngIf="!isGuest">
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/user/order/history">Order History</a>
                    </li>
                    <li role="menuitem" *ngIf="!isGuest">
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/user/logout">Log out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </links>
</mdb-navbar>