<h4 class="page-title">Creative Common License Credit</h4>
<p class="mt-4">The website graphics are from:</p>
<ul>
    <li><a href="https://logomakr.com/" target="_blank">LogoMakr.com</a></li>
    <li><a href="http://kotharicareeracademy.com/" target="_blank">Kothari Career Academy</a></li>
    <li><a href="https://depositphotos.com/stock-photos/english.html" target="_blank">depositphotos.com</a></li>
    <li><a href="https://dazhongpri.moe.edu.sg/dazhong-education/learner-excellence/mathematics" target="_blank">Da Zhong</a></li>
    <li><a href="https://www.topuniversities.com/courses/computer-science-information-systems/computer-science-degrees-skills-and-specializations" target="_blank">topuniversities.com</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Social_studies" target="_blank">Wikipedia - Social Studies</a></li>
</ul>