<form #registerForm="ngForm" (ngSubmit)="submit(registerForm)" class="text-center border border-light p-5 my-5">
    <h4 class="mb-4 page-title">Sign up</h4>
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="username" name="username" ngModel #username="ngModel" class="form-control mb-4"
                placeholder="Username" required maxlength="30">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <div *ngIf="username.errors?.required">
                    <small>Username is required</small>
                </div>
                <div *ngIf="username.errors?.maxlength">
                    <small>Username must not exceed 30 characters length</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <input type="email" id="email" name="email" ngModel #email="ngModel" class="form-control mb-4"
                placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors?.required">
                    <small>Email is required</small>
                </div>
                <div *ngIf="email.errors?.pattern">
                    <small>Please provide a valid email address</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <input type="password" id="password" name="password" ngModel #password="ngModel" class="form-control mb-4"
                placeholder="Password" required>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors?.required">
                    <small>Password is required</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" id="addressLine1" name="addressLine1" ngModel #addressLine1="ngModel"
                class="form-control mb-4" placeholder="Delivery address line 1" required maxlength="255">
            <div *ngIf="addressLine1.invalid && (addressLine1.dirty || addressLine1.touched)"
                class="alert alert-danger">
                <div *ngIf="addressLine1.errors?.required">
                    <small>Delivery address line 1 is required</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" id="addressLine2" name="addressLine2" ngModel #addressLine2="ngModel"
                class="form-control mb-4" placeholder="Delivery address line 2" maxlength="255">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="city" name="city" ngModel #city="ngModel" class="form-control mb-4"
                placeholder="City" required maxlength="30">
            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
                <div *ngIf="city.errors?.required">
                    <small>City is required</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <input type="text" id="postcode" name="postcode" ngModel #postcode="ngModel" class="form-control mb-4"
                placeholder="Postcode" required maxlength="5">
            <div *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)" class="alert alert-danger">
                <div *ngIf="postcode.errors?.required">
                    <small>Postcode is required</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <input type="tel" id="phone" name="phone" ngModel #phone="ngModel" class="form-control mb-4"
                placeholder="+00-123456789" pattern="[\+]\d{2,}[\-]\d{1,}" title='Phone Number (Format: +00-123456789'
                required>
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                <div *ngIf="phone.errors?.required">
                    <small>Phone number is required</small>
                </div>
                <div *ngIf="phone.errors?.pattern">
                    <small>Invalid phone number</small>
                </div>
            </div>
        </div>
    </div>
    <button mdbBtn color="warning" class="my-4 btn-block" type="submit" [disabled]="registerForm.invalid">Sign
        up</button>
</form>