<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light bg-warning" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="navbar-brand" routerLink="/user" routerLinkActive="active"><img src="assets/images/logo.png"
                alt="Home" width="60" height="52"></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/admin/home/category">Categories</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/admin/home/food">Foods</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/admin/home/offer">Offers</a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect id="adminReportNavDropDown">
                    Reports<span class="caret"></span>
                </a>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <li role="menuitem">
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/admin/home/report/order">Orders</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/admin/home/report/user">Users</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect id="adminNavDropDown">
                    <mdb-icon fas icon="user"></mdb-icon> {{ userName }}<span class="caret"></span>
                </a>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/admin/logout">Log out</a>
                </ul>
            </li>
        </ul>
    </links>
</mdb-navbar>