<h3 class="page-title mb-4">Categories</h3>
<div class="row">
    <div class="col-md-3" *ngFor="let category of categories">
        <a routerLink="/testee/category/{{ category.id }}" class="category-card">
            <div class="card h-100">
                <img class="card-img-top" [src]="getCategoryImageUrl(category.name)" alt="{{category.name}}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ category.name }}</h5>
                </div>
            </div>
        </a>
    </div>
</div>