@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.table-title, .quiz-title, .page-title {
    font-family: 'Noto Serif', serif;
    color: #00BCD4
}

.btn-quiz {
    color: #fff;
    background-color: #00BCD4;
    border-color: #00BCD4;
}

.bg-grey {
    background-color: #6c757d !important;
}

.text-quiz {
    color:  #00BCD4;
}