@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.table-title, .page-title, .text-foodbox {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    color: #541900;
}

.bg-grey {
    background-color: #6c757d !important;
}

.text-red {
    color: red;
}